:root{
	--MESSAGE_FORM_HEIGHT: 50px;
}

.CHAT_ROOM{
	display: flex;
	flex-direction: column;

	/*他のスタイル設定はMain.cssに*/
}

/*----------------------------------------------------------------------------------------------上*/
.CHAT_ROOM > .CHAT_CONTROLE{
	flex: 1;

	max-height: 30px;

	overflow: hidden;
}

/*----------------------------------------------------------------------------------------------メッセージ一覧*/
.CHAT_ROOM > .MESSAGE_LIST{
	flex: 5;
}

/*----------------------------------------------------------------------------------------------入力中*/
.CHAT_ROOM > .MESSAGE_VIEW{
	transition: 0.1s;

	flex: 2;
	max-height: 100px;

	overflow: auto;
}

.CHAT_ROOM > .MESSAGE_VIEW[data-hide="true"]{
	flex: 0;
}

/*----------------------------------------------------------------------------------------------入力欄*/
.CHAT_ROOM > .MESSAGE_FORM{
	display: flex;
	flex-direction: row;

	flex: 1;
	max-height: var(--MESSAGE_FORM_HEIGHT);

	overflow: hidden;
}

.CHAT_ROOM > .MESSAGE_FORM > button{
	flex: 1;

	max-width: var(--MESSAGE_FORM_HEIGHT);
}

.CHAT_ROOM > .MESSAGE_FORM > textarea{
	flex: 9;
}

.CHAT_ROOM > .MESSAGE_FORM > .MENU{
	position: fixed;
	bottom: calc(var(--MESSAGE_FORM_HEIGHT) + (var(--MARGIN) * 2));

	padding: 10px;

	overflow: hidden;

	transition: 0.1s;
}

.CHAT_ROOM > .MESSAGE_FORM > .MENU[data-hide="true"]{
	padding: 0px;
	height: 0px;
	opacity: 0;
}

.CHAT_ROOM > .MESSAGE_FORM > .MENU > button{
	width: 100%;
}

.CHAT_ROOM > .MESSAGE_FORM > .FILE_LIST{
	position: fixed;
	bottom: var(--MESSAGE_FORM_HEIGHT);
	right: 0px;

	background-color: rgba(0, 0, 0, 0.5);

	margin: 10px;
	padding: 10px;

	display: flex;
	gap: 10px;

	max-width: 50vh;

	overflow-x: scroll;
}

.CHAT_ROOM > .MESSAGE_FORM > .FILE_LIST > .FILE_ITEM{
	display: flex;
	flex-direction: column;
}

.CHAT_ROOM > .MESSAGE_FORM > .FILE_LIST > .FILE_ITEM > img{
	width: 200px;
	height: 200px;

	object-fit: cover;
}

.CHAT_ROOM > .MESSAGE_FORM > .FILE_LIST > .FILE_ITEM > button{
	padding: 0px;
}

.CHAT_ROOM > .MESSAGE_FORM > .FILE_LIST > .FILE_ITEM > progress{
	height: 5px;
}