.GROUP_LIST{
	flex: 1 1 auto;
	min-width: 0;

	display: flex;

	margin-left: 10px;

	gap: 10px;
}

.GROUP_LIST > a{
	color: black;
	text-decoration: none;
}

.GROUP_ITEM{
	width: 45px;
	height: 45px;

	overflow: hidden;

	border-radius: 50px;

	background-color: white;
}

.GROUP_ITEM[data-ack="false"]{
	background-color: red;
}