.LOADING{
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100vw;
	height: 100vh;

	z-index: 100;

	background-color: white;
}

.LOADING > .LOADING_LOG{
	white-space: pre-wrap;
	font-family: monospace;
	tab-size: 4;
}

.LOADING > .LOADING_LOGO{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	text-align: center;
}

.LOADING > .LOADING_LOGO > div > img{
	vertical-align: middle;
}