:root{
	--HEADER_HEIGHT: 75px;
	--SIDE_WIDTH: 200px;
	--MARGIN: 10px
}

.HEADER{
	position: absolute;
	top: 0px;
	left: 0px;

	width: calc(100vw - (var(--MARGIN) * 2));
	height: calc(var(--HEADER_HEIGHT) - var(--MARGIN));

	margin: var(--MARGIN);

	overflow: hidden;

	display: flex;
	flex-direction: row;

	padding: 10px;
}

.HEADER > a{
	flex: 0 1 auto;
	max-width: 45px;
}

.HEADER > .SELF_USER{
	flex: 0 1 auto;
	max-width: 100px;
}

.HEADER > .SELF_USER > *{
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.SIDE{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: 0px;

	width: calc(var(--SIDE_WIDTH) - var(--MARGIN));
	height: calc(100vh - var(--HEADER_HEIGHT) - (var(--MARGIN) * 2));

	overflow: hidden;

	margin: var(--MARGIN);
}

.SIDE > .GROUP_HEADER{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SIDE > .GROUP_HEADER > span{
	width: 100%;
}

.CHAT_ROOM > .MESSAGE_LIST{
	overflow: auto;
	overflow-wrap: anywhere;

	width: 100%;
	height: 100%;
}

.SIDE > .DM_LIST{
	overflow: auto;

	width: 100%;
	height: 100%;
}

.CONTENTS{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: var(--SIDE_WIDTH);

	width: calc(100vw - var(--SIDE_WIDTH) - (var(--MARGIN) * 2));
	height: calc(100vh - var(--HEADER_HEIGHT) - (var(--MARGIN) * 2));

	margin: var(--MARGIN);

	overflow: hidden;
}

.DM_ITEM{
	margin: 10px;
}

.DM_ITEM > img{
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.DM_ITEM > span{
	margin-left: 10px;
}

.GROUP_MENU{
	position: fixed;
	top: calc(var(--HEADER_HEIGHT) + var(--MARGIN) + 50px);
	left: calc(var(--MARGIN));

	z-index: 20;

	width: 200px;
	height: fit-content;

	opacity: 1;

	overflow: hidden;

	transition: 0.2s;
}

.GROUP_MENU[data-hide="true"] {
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0px;

	pointer-events: none;
}

.GROUP_MENU > button{
	width: 100%;
}

.DIALOG_BG{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

	z-index: 10;

	background-color: transparent;
}

.DIALOG_BG[data-bg="true"] {
	background-color: rgba(0, 0, 0, 0.5);
}

.DIALOG{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 20;
}

.DIALOG[data-hide="true"]{
	display: none;
}

.GROUP_INVITE_LIST_TABLE > tr > .ICON{
	width: 45px;
	height: 45px;
}

.GROUP_INVITE_LIST_TABLE > tr > .ICON > img{
	vertical-align: middle;
}