:root{
	--HEADER_HEIGHT: 50px;
	--SIDE_WIDTH: 200px;
	--MARGIN: 10px
}

.HEADER{
	position: absolute;
	top: 0px;
	left: 0px;

	width: calc(100vw - (var(--MARGIN) * 2));
	height: calc(var(--HEADER_HEIGHT) - var(--MARGIN));

	background-color: red;

	margin: var(--MARGIN);

	overflow: hidden;
}

.SIDE{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: 0px;

	width: calc(var(--SIDE_WIDTH) - var(--MARGIN));
	height: calc(100vh - var(--HEADER_HEIGHT) - (var(--MARGIN) * 2));

	background-color: aqua;

	overflow: hidden;

	margin: var(--MARGIN);
}

.CHAT_ROOM{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: var(--SIDE_WIDTH);

	width: calc(100vw - var(--SIDE_WIDTH) - (var(--MARGIN) * 2));
	height: calc(100vh - var(--HEADER_HEIGHT) - (var(--MARGIN) * 2));

	background-color: blue;

	margin: var(--MARGIN);
}

.CHAT_ROOM > .MESSAGE_LIST{
	overflow: auto;
	overflow-wrap: anywhere;

	width: 100%;
	height: 100%;
}

.SIDE > .DM_LIST{
	overflow: auto;

	width: 100%;
	height: 100%;
}

.DM_ITEM{
	margin: 10px;
}

.DM_ITEM > img{
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.DM_ITEM > span{
	margin-left: 10px;
}