:root{
	--HEADER_HEIGHT: 100px;
	--SIDE_WIDTH: 200px;
}

.HEADER{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100vw;
	height: var(--HEADER_HEIGHT);

	background-color: red;
}

.SIDE{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: 0px;

	width: var(--SIDE_WIDTH);
	height: calc(100vh - var(--HEADER_HEIGHT));

	background-color: aqua;

	overflow: hidden;
}

.CHAT_ROOM{
	position: absolute;
	top: var(--HEADER_HEIGHT);
	left: var(--SIDE_WIDTH);

	width: calc(100vw - var(--SIDE_WIDTH));
	height: calc(100vh - var(--HEADER_HEIGHT));

	background-color: blue;
}

.CHAT_ROOM > .MESSAGE_LIST{
	overflow: auto;
	overflow-wrap: anywhere;

	width: 100%;
	height: 100%;
}

.SIDE > .DM_LIST{
	overflow: auto;

	width: 100%;
	height: 100%;
}

.DM_ITEM{
	margin: 10px;
}

.DM_ITEM > img{
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.DM_ITEM > span{
	margin-left: 10px;
}