.MESSAGE_ITEM{
	margin: 10px;
}

.MESSAGE_ITEM > .MENU{
	position: absolute;
	top: 0px;
	right: 0px;

	transition: opacity 0.1s;

	opacity: 0;
}

.MESSAGE_ITEM > .MENU > button{
	padding: 0px;
}

.MESSAGE_ITEM > .MENU > button > img{
	width: 25px;
	height: 25px;
}

.MESSAGE_ITEM:hover > .MENU{
	opacity: 1;
}

.MESSAGE_ITEM > .USER{
	vertical-align: top;

	display: flex;
	flex-direction: row;
}

.MESSAGE_ITEM > .USER > .USER_ICON{
	width: 45px;
	height: 45px;

	vertical-align: top;

	margin-right: 10px;
}

.MESSAGE_ITEM > .USER > .DATE{
	color: gray;

	font-size: 11px;
}

.MESSAGE_ITEM > .USER > button{
	padding: 0px;

	height: 25px;
}

.MESSAGE_ITEM > .TEXT{
	position: relative;
	top: -20px;

	margin-left: calc(45px + 10px);
	margin-bottom: -20px;
}

/*---------------------------------------------------------------------------------------------------------------ファイル*/
.MESSAGE_ITEM > .FILE_LIST{
	margin-top: 10px;

	display: grid;
	gap: 8px;

	max-width: 500px;
}

/*1こ*/
.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(1):last-child){
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

/*2こ*/
.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(2):last-child) {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

/*3こ*/
.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(3):last-child) {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(3):last-child) div:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(3):last-child) div:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}

.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(3):last-child) div:nth-child(3) {
	grid-column: 2;
	grid-row: 1 / span 2;
}

/*4こ*/
.MESSAGE_ITEM > .FILE_LIST:has(div:nth-child(4):last-child) {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.MESSAGE_ITEM > .FILE_LIST > div{
	overflow: hidden;
}