.CHATROOM>.CONTAINER {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
	height: 100%;
}

.CHATROOM>.CONTAINER>.MESSAGELIST {
	flex: 1 1 auto;

	overflow-y: auto;
}

.MENU {
	position: fixed;
	left: calc(var(--SIDEMENU_WIDTH) + 10px);
	bottom: calc(var(--CHATINPUT_HEIGHT) + 10px);

	background-color: var(--TRANSPARENT);
	backdrop-filter: blur(1px);
	padding: 10px;
}

.SEND_FILE_LIST {
	position: fixed;
	right: 0;
	bottom: calc(var(--CHATINPUT_HEIGHT) + 10px);

	margin: 10px;

	height: 100px;
	line-height: 1;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 8px;

	padding: 5px;
}

.SEND_FILE_LIST{
	width: 500px;
	height: fit-content;

	margin: 10px;
	padding: 10px;

	background-color: var(--DIALOG_BG_COLOR);
	backdrop-filter: blur(1px);
}

.SEND_FILE_ITEM{
	width: 100%;
	height: 100px;

	flex-direction: row;

	overflow: hidden;

	vertical-align: middle;
}

.SEND_FILE_ITEM > .THUMBNAIL{
	height: 100%;
	vertical-align: middle;
}

.SEND_FILE_ITEM > .THUMBNAIL > *{
	vertical-align: middle;
}

.SEND_FILE_ITEM > .NAME{
	vertical-align: middle;

	color: white;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT {
	display: flex;
	flex-shrink: 0;

	flex-direction: row;

	margin: 5px;

	height: var(--CHATINPUT_HEIGHT);
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > button,
.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > textarea {
	line-height: 1;
	font-size: 14px;
	height: 32px;

	margin: 0;

	vertical-align: middle;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > button {
	flex-shrink: 0;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > textarea {
	flex: 5;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.MESSAGEITEM {
	position: relative;

	padding: 5px;
}

.MESSAGEITEM > .CONTROLE{
	display: none;

	position: absolute;
	top: 0px;
	right: 0px;
}

.MESSAGEITEM > .CONTROLE > button{
	padding: 0px;
}

.MESSAGEITEM:hover > .CONTROLE{
	display: block;
}

.MESSAGEITEM > .USER > img {
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.MESSAGEITEM > .USER > span {
	vertical-align: middle;
}

.MESSAGEITEM > .TEXT > img, .MESSAGEITEM > .USER > span > img{
	width: 1em;
	height: auto;

	vertical-align: middle;
}

.MESSAGEITEM > .USER > .DATE {
	color: gray;

	font-size: 12px;
}

.MESSAGEITEM > .TEXT {
	margin-left: 45px;

	vertical-align: middle;
}

.MESSAGEITEM > .FILE_LIST {
	margin-left: 45px;
	margin-right: 45px;

	height: fit-content;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 8px;
}

.MESSAGEITEM > .FILE_LIST > .FILE_ITEM {
	width: fit-content;

	border-radius: 10px;

	background-color: aquamarine;

	overflow: hidden;
}

.MESSAGEITEM > .FILE_LIST > .FILE_ITEM > *{
	padding: 10px;
}

.MESSAGEITEM > .FILE_LIST > .FILE_ITEM > .FILE{
	background-color: rgb(187, 255, 232);
}

.MESSAGEITEM > .FILE_LIST > .FILE_ITEM > .FILE > video, .MESSAGEITEM > .FILE_LIST > .FILE_ITEM > .FILE > img, .MESSAGEITEM > .FILE_LIST > .FILE_ITEM > .FILE > audio{
	width: 400px;
	height: auto;
	object-fit: cover;
}
