.CHATROOM>.CONTAINER {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
	height: 100%;
}

.CHATROOM>.CONTAINER>.MESSAGELIST {
	flex: 1 1 auto;

	overflow-y: auto;
}

.MENU {
	position: fixed;
	left: calc(var(--SIDEMENU_WIDTH) + 10px);
	bottom: calc(var(--CHATINPUT_HEIGHT) + 10px);

	background-color: var(--TRANSPARENT);
	backdrop-filter: blur(1px);
	padding: 10px;
}

.SEND_FILE_LIST {
	position: fixed;
	right: 0;
	bottom: calc(var(--CHATINPUT_HEIGHT) + 10px);

	margin: 10px;

	height: 100px;
	line-height: 1;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 8px;

	padding: 5px;
}

.SEND_FILE_LIST > * {
	width: 100px;
	height: auto;
	object-fit: cover;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT {
	display: flex;
	flex-shrink: 0;

	flex-direction: row;

	margin: 5px;

	height: var(--CHATINPUT_HEIGHT);
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > button,
.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > textarea {
	line-height: 1;
	font-size: 14px;
	height: 32px;

	margin: 0;

	vertical-align: middle;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > button {
	flex-shrink: 0;
}

.CHATROOM > .CONTAINER > .CHATINPUTFIELD > .CHATINPUT > textarea {
	flex: 5;
}

.MESSAGEITEM {
	padding: 5px;
}

.MESSAGEITEM > .USER > img {
	width: 45px;
	height: 45px;

	vertical-align: middle;
}

.MESSAGEITEM > .USER > span {
	vertical-align: middle;
}

.MESSAGEITEM > .TEXT > img, .MESSAGEITEM > .USER > span > img{
	width: 1em;
	height: auto;

	vertical-align: middle;
}

.MESSAGEITEM > .USER > .DATE {
	color: gray;

	font-size: 12px;
}

.MESSAGEITEM > .TEXT {
	margin-left: 45px;

	vertical-align: middle;
}

.MESSAGEITEM > .FILE {
	margin-left: 45px;

	height: fit-content;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 8px;
}

.MESSAGEITEM > .FILE>* {
	width: 400px;
	height: auto;
	object-fit: cover;
}

.MESSAGEITEM >.TEXT > .RECEIVE_PGPKEY{
	width: 400px;

	padding: 20px;
}