.HEX_EDITOR{
	display: flex;
	flex-direction: row;

	background-color: rgb(255, 255, 255);

	padding: 10px;
}

.HEX_LIST{
	border-collapse: separate;
	/*border-spacing: 5px 5px;*/
}

.HEX_LIST > .HEX_HEADER{
	background-color: rgb(216, 216, 216);

	text-align: center;
}

.HEX_LIST > .HEX_ITEM > .HEX_ROW{
	background-color: rgb(216, 216, 216);
}

.HEX_LIST > .HEX_ITEM > .HEX_CONTENTS/*, .ASCII_LIST > tr > .ASCII_CONTENTS*/{
	padding: 5px;
}

.HEX_LIST > .HEX_ITEM > .HEX_CONTENTS[data-select="true"], .HEX_LIST > .HEX_ITEM > .HEX_CONTENTS:hover{
	background-color: black;
	color: yellow;
}

.ASCII_LIST > tr > .ASCII_CONTENTS[data-select="true"], .ASCII_LIST > tr > .ASCII_CONTENTS:hover{
	background-color: black;
	color: yellow;
}
